<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow navbar-expand-sm" style="justify-content: normal">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">GAMMA</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav px-3 mr-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
    </ul>
    <ul class="navbar-nav px-3 mr-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="/mobs" routerLinkActive="active">Mobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/team" routerLinkActive="active">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/bounties" routerLinkActive="active">Bounties</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/marketplace'>Marketplace</a>
      </li>
      <li class="nav-item" *ngIf="currentPlayer.team_admin === true">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
    </ul>

    <ul class="navbar-nav px-3 ml-auto">

      <li class="nav-item text-nowrap" *ngIf="isLoggedIn">
        <button class="btn btn-sm btn-outline-secondary mr-2" type="button">
            <span [innerHTML]="'dollar-sign' | feather"></span>
            <span class="badge badge-pill badge-warning badge-up">{{ currentPlayer.available_coins }}</span>
        </button>
      </li>

      <li class="nav-item text-nowrap" *ngIf="isLoggedIn">
          <div ngbDropdown [placement]="'bottom-right'" class="mr-1" id="alertBtnContainer">
            <button type="button" 
                    id="btnAlertDropdown"
                    class="btn btn-sm btn-outline-secondary mr-1" 
                    ngbDropdownToggle>
              <span [innerHTML]="'bell' | feather"></span>
              <span class="badge badge-pill badge-danger badge-up" *ngIf="profile_alert_list.length > 0">{{ profile_alert_list.length }}</span>
            </button>

            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="btnAlertDropdown">
              <button class="dropdown-item" *ngIf="profile_alert_list.length === 0">No new notifications!</button>
              <button class="dropdown-item" *ngFor="let alert of profile_alert_list" routerLink="/profile">{{ alert }}</button>
            </div>
          </div>
      </li>

      <li class="nav-item text-nowrap">
        <a class="nav-link btn btn-sm btn-outline-secondary" *ngIf="!isLoggedIn" routerLink="/login">Sign In / Up</a>

        <ng-container *ngIf="isLoggedIn">          
          <div class="btn-group mr-3">
              <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/profile">
                Hello, {{ currentPlayer.username }}!
              </button>
              <div class="btn-group" ngbDropdown [placement]="'bottom-right'" role="group">
                <button class="btn btn-sm btn-outline-secondary" id="playerDropdown" ngbDropdownToggle></button>
                <div ngbDropdownMenu class="dropdown-menu">
                  <button class="dropdown-item" routerLink="/profile">Profile</button>
                  <button class="dropdown-item">Inventory</button>
                  <div class="dropdown-divider"></div>
                  <button class="dropdown-item" (click)="logout()">Sign Out</button>
                </div>
              </div>
          </div>
        </ng-container>
        
      </li>
    </ul>
  </div>
  
</nav>
<div class="w-100" style="height: 2px; margin-top: 48px">
  <ngx-loading-bar [color]="'red'" 
                   [includeSpinner]="false"
                   [fixed]="false"></ngx-loading-bar>
</div>