<h4>
  Player Overview
  <button type="button" class="btn btn-sm btn-primary float-right" (click)="open(inviteModal)">Invite New Players</button>
</h4>
<table class="table">
  <thead>
    <tr class="text-center">
      <th>Username</th>
      <th>Email</th>
      <th>Confirmed</th>
      <th>Joined</th>
      <th>Class</th>
      <th>Level</th>
      <th>Current XP</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of players" [class.table-secondary]="!p.confirmed" class="text-center">
      <td class="text-left">{{ p.username }} <span class="badge badge-success" *ngIf="p.username == currentPlayer.username">You</span></td>
      <td>{{ p.email }}</td>
      <td>
        <span [innerHTML]="'check-circle' | feather" *ngIf="p.confirmed"></span>
        <span [innerHTML]="'alert-circle' | feather" *ngIf="!p.confirmed"></span>
      </td>
      <td>{{ p.confirmed_on ? (p.confirmed_on | date) : '' }}</td>
      <td>{{ p.class_name }}</td>
      <td>{{ p.level }}</td>
      <td>{{ p.xp }}</td>
      <td>
        <span class="action-icon" [innerHTML]="'trash-2' | feather" (click)="launchConfirmModal(p, deleteConfirmModal)"></span>
      </td>
    </tr>
  </tbody>

  <ng-template #inviteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Invite New Players</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-9">
          <p>Enter 1 or more email addresses to invite players to join this team.</p>
        </div>
        <div class="col-sm-3">
          <button type="button" class="btn btn-sm btn-primary" (click)="addInviteEmail()">Add Email</button>
        </div>
      </div>
      
      <div class="offset-sm-1 col-sm-10">
        <form [formGroup]="inviteForm">
          <div formArrayName="emails">
            <div *ngFor="let control of inviteForm.controls.emails.controls; let i = index">
              <div class="form-group row">
                <div class="col-sm-10">
                  <input type="email"  formControlName="{{i}}" class="form-control" placeholder="Email Address">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-sm btn-danger" (click)="deleteInviteEmail(i)">
                    <span [innerHTML]="'delete' | feather"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage">Invitation Message:</label>
            <textarea class="form-control" formControlName="invite_message" rows="3">You are invited to join {{ currentTeam.name }}!
            </textarea>
          </div>
        </form>
      </div>
      
    </div>
    <div class="modal-footer justify-content-between">
      <div class="loading-spinner" *ngIf="showSpinner"></div>
      <div>
        <p>{{ inviteModalStatusMessage }}</p>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="submitInviteForm()">Submit</button>
    </div>
  </ng-template>
</table>

<ng-template #deleteConfirmModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Remove Player</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete {{ deleteModalPlayer?.username }}?</p>
    <div class="col-12 d-flex justify-content-around">
      <button type="button" class="btn btn-secondary" (click)="d('cancelled')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="deletePlayer(deleteModalPlayer)">Confirm</button>
    </div>
  </div>
  <div class="modal-footer justify-content-between" *ngIf="deleteModalStatusMessage !== ''">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <p>{{ deleteModalStatusMessage }}</p>
  </div>
</ng-template>