<div class="row">
  <div class="col">
    <h3 class="float-left">Level Requirements</h3>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="row" style="height: 400px;">
  <div class="col">
      <ngx-charts-line-chart 
      [scheme]="colorScheme"
      [results]="chartData.length > 0 ? chartData : ''"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      [timeline]="timeline"></ngx-charts-line-chart>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="row">

  <div class="col-6">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Level</th>
          <th class="text-center">Required XP</th>
          <th class="text-center">Coin Reward</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let map of levels">
          <td>{{ map?.level }}</td>
          <td class="text-center">{{ map?.req_xp }}</td>
          <td class="text-center">{{ map.coin_reward }}</td>
          <td class="d-flex justify-content-around">
            <span class="action-icon" [innerHTML]="'edit' | feather" (click)="editLevel(map.level)"></span>
            <span class="action-icon" [innerHTML]="'delete' | feather" (click)="open(deleteModal)"></span>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="offset-1 col-10">
              <button type="button" class="btn btn-small btn-primary w-100" (click)="open(newLevelModal)">Add New Level</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-6">
    <div class="col-12">
      <h4>Team Roster</h4>
    </div>
    <ng-container *ngIf="currentTeam">
      <ul class="list-group list-group-flush w-100">
        <li *ngFor="let player of currentTeam.players" class="list-group-item">
          <p class="float-left">{{ player?.username }}</p>
          <span class="float-right badge badge-pill">{{ player?.level }}</span> 
        </li>
      </ul>
    </ng-container>
    
  </div>
</div>

<ng-template #newLevelModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Sound</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="levelForm">

        <div class="form-group">
          <label for="inputLevel">Level:</label>
          <input formControlName="level" class="form-control" type="number">
        </div>
  
        <div class="form-group">
          <label for="inputReqXp">Required XP:</label>
          <input formControlName="req_xp" class="form-control" type="number">
          <small class="form-text text-muted">
            This is the XP required for each level between the previous level definition, and the one defined here. 
          </small>
        </div>
  
        <div class="form-group">
          <label for="inputCoinReward">Reward Coin Count:</label>
          <input formControlName="coin_reward" class="form-control" type="number">
          <small class="form-text text-muted">
            The number of coins rewarded to a player when they level up.
          </small>
        </div>

    </form>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ formStatusMessage }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitLevelForm()">Submit</button>
  </div>
</ng-template>

<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this level definition?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
</ng-template>