<div class="row">
  <div class="col">
    <h3>Mobs</h3>
  </div>
</div>

<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Topic</th>
          <th class="text-center">Interval Length</th>
          <th class="text-center">Created</th>
          <th class="text-center">Interval Count</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let mob of mobs">
          <tr>
            <td>
              <button type="button" 
                      class="btn btn-sm"
                      [class.btn-outline-secondary]="mob.intervals?.length == 0" 
                      [class.btn-outline-primary]="mob.intervals?.length > 0"
                      (click)="mob.collapsed = !mob.collapsed"
                      [disabled]="mob.intervals?.length == 0">
                Intervals
              </button>
            </td>
            <td>{{ mob?.topic }}</td>
            <td class="text-center">{{ mob?.interval_length }} minutes</td>
            <td class="text-center">{{ mob?.created | date }}</td>
            <td class="text-center">{{ mob?.intervals?.length }}</td>
          </tr>

          <tr [ngbCollapse]="mob.collapsed" *ngIf="mob.intervals?.length > 0">
            <td colspan="5">
              <ul class="list-group list-group-flush">
                <li *ngFor="let interval of mob.intervals; let i = index" class="list-group-item">
                  Interval #{{ i }}: {{ interval.duration }}XP gained by: <div *ngFor="let p of interval.players">{{ p.username }}</div>
                </li>
              </ul>
            </td>
          </tr>
          
        </ng-container>
        
      </tbody>
    </table>
  </div>
</div>
