<div class="row">
  <div class="col">
    <h3>Bounties</h3>
    <p>
      Bounties are tied to issues for projects in Gitlab. 
    </p>
    <p class="mb-auto">
      A webhook will be set up so that when the issue is closed the bounty will be marked as completed and reward the participants.
    </p>
  </div>

  <div class="col">
      <ul class="list-group list-group-flush">
        <li class="list-group-item pb-2">
          <div class="row align-items-center">
            <div class="col">
              <b>Gitlab URL:</b>
            </div>
            <div class="col">
              <div class="text-muted float-right">{{ currentTeam?.gitlab_url }}</div>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open(gitlabModal)">
                <span [innerHTML]="'edit' | feather"></span>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item pb-2">
          <div class="row align-items-center">
            <div class="col">
              <b>Gitlab Hook Token:</b>
            </div>
            <div class="col">
              <div class="text-muted float-right">{{ currentTeam?.gitlab_hook_token ? currentTeam?.gitlab_hook_token : 'Not Yet Set' }}</div>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open(gitlabModal)">
                <span [innerHTML]="'edit' | feather"></span>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item pb-2">
          <div class="row align-items-center">
            <div class="col">
              <b>Gitlab Private Token:</b> 
            </div>
            <div class="col">
              <div class="text-muted float-right">{{ currentTeam?.gitlab_private_token }}</div>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open(gitlabModal)">
                <span [innerHTML]="'edit' | feather"></span>
              </button>
            </div>
          </div>
        </li>
        <li class="list-group-item pb-2">
          <div class="row align-items-center">
            <div class="col">
              <b>Gitlab Bounty Label:</b>
            </div>
            <div class="col">
              <span class="badge badge-pill badge-success float-right">{{ currentTeam?.gitlab_bounty_label }}</span>
            </div>
            <div class="col-2">
              <button type="button" class="btn btn-outline-secondary btn-sm" (click)="open(gitlabModal)">
                <span [innerHTML]="'edit' | feather"></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>

<div class="row mt-4">
  <div class="col-6">
    <h4>All Bounties</h4>
  </div>
  <div class="col-6">
    <button class="btn btn-sm btn-primary float-right" type="button" (click)="open(bountyModal)">Create New Bounty</button>
  </div>

  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Issue</th>
          <th>Gitlab Issue</th>
          <th>XP Value</th>
          <th>Completed</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let b of bounties">
          <td>{{ b.name }}</td>
          <td>
            #{{ b.issue_id }}
          </td>
          <td>
            <a href="{{ b.issue_url }}">Issue</a>
          </td>
          <td>{{ b.xp_reward }}</td>
          <td>
            <span [innerHTML]="'check-circle' | feather" *ngIf="b.complete"></span>
            <span [innerHTML]="'watch' | feather" *ngIf="!b.complete"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #bountyModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create A New Bounty</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="bountyForm">
      <div class="form-group">
        <label for="selectProject">Select Project:</label>
        <select formControlName="project" class="custom-select" (change)="onProjectChange($event.target.value)">
          <option *ngFor="let p of teamProjects" [value]="p.id">{{ p.name }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="selectIssue">Select Issue:</label>
        <select formControlName="issue" 
                class="custom-select" 
                [disabled]="projectIssues?.length === 0"
                (change)="onIssueChange($event.target.value)">
          <option *ngFor="let i of projectIssues" [value]="i.id">#{{ i.iid }} - {{ i.title }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="inputName">Bounty Name</label>
        <input formControlName="name" class="form-control" type="text">
      </div>

      <div class="form-group">
        <label for="inputDescription">Description</label>
        <textarea rows="3" formControlName="description" class="form-control">{{ selectedIssue?.description }}</textarea>
      </div>

      <div class="form-group">
        <label for="inputXp">XP Value</label>
        <input formControlName="xp_value" class="form-control" type="number">
      </div>
    </form>

    <div class="row">
      <div class="col-8 offset-2">
        <ul class="list-group list-group-flush">
          <li *ngFor="let step of bountyModalSteps" class="list-group-item">
            <div class="row">
              <div class="col-2">
                <span [innerHTML]="step.icon | feather" [class]="step.color"></span>
              </div>
              <div class="col">
                {{ step.name }}
              </div>
              <div class="col-12" *ngIf="step.error !== ''">
                <small class="text-danger">{{ step.error }}</small>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ formStatusMessage }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitBountyForm()">Submit</button>
  </div>
</ng-template>

<ng-template #gitlabModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Update Gitlab Settings</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="gitlabForm">

      <div class="form-group">
        <label for="inputUrl">Gitlab URL</label>
        <input formControlName="url" class="form-control" type="text" [value]="currentTeam.gitlab_url">
      </div>

      <div class="form-group">
        <label for="inputHook">Gitlab Webhook Token</label>
        <input formControlName="hook" class="form-control" type="text" [value]="currentTeam.gitlab_hook_token">
        <small class="form-text text-muted">
          The webhook token can be any (short) string. When a Gitlab event occurs, the token will be sent back with the response for an added layer of security.
        </small>
      </div>

      <div class="form-group">
        <label for="inputPrivate">Gitlab Private Access Token</label>
        <input formControlName="private" class="form-control" type="text" [value]="currentTeam.gitlab_private_token">
        <small class="form-text text-muted">
          The private access token is the admin token from Gitlab that allows read/write access to projects through the API.
        </small>
      </div>

      <div class="form-group">
        <label for="inputLabel">Gitlab Bounty Label</label>
        <input formControlName="label" class="form-control" type="text" [value]="currentTeam.gitlab_bounty_label">
        <small class="form-text text-muted">
          If specified, whenever a bounty is created on an issue, a label will be added to the issue with this text.
        </small>
      </div>

    </form>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ formStatusMessage }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitGitlabForm()">Submit</button>
  </div>
</ng-template>