<div class="row">
  <div class="col-6">
    <h3 class="float-left">Player Classes</h3>
  </div>
  <div class="col-6">
    <button type="button" class="btn btn-primary float-right" (click)="openCreateModal(createModal)">New Class</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr class="text-center">
          <th style="width: 10%" scope="col"></th>
          <th class="" scope="col">Class Name</th>
          <th>Level Requirement</th>
          <th class="" scope="col">Public</th>
          <th style="width: 10%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let class of classes" scope="row" class="text-center">
          <td>
            <img src="{{ class.pic_url }}" class="img-fluid" style="max-height: 50px">
          </td>
          <td>{{ class.name }}</td>
          <td>{{ class.level_requirement != null ? class.level_requirement : 'None' }}</td>
          <td>{{ class.team_id == null ? 'Yes' : 'No'}}</td>
          <td>
            <ng-container *ngIf="class.team_id > 0; else publicControls">
              <span class="action-icon" [innerHTML]="'edit' | feather" (click)="openEditModal(class, editModal)"></span>
              <span class="action-icon" [innerHTML]="'trash-2' | feather" (click)="openDeleteModal(class, deleteModal)"></span>
            </ng-container>
            <ng-template #publicControls>
              <small class="text-muted">Can't edit a public class!</small>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #createModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Player Class</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="createModalForm">

      <div class="form-group">
        <label>Class Name: </label>
        <input type="text" formControlName="name" class="form-control">
      </div>

      <div class="form-group">
        <label>Description: </label>
        <textarea formControlName="description" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label>Required Level: </label>
        <input type="number" formControlName="level_requirement" class="form-control">
      </div>

      <label>Class Picture: </label>
      <div class="form-group row">
        <div class="col-2" *ngFor="let img of images">
          <div class="card bg-secondary text-white">
            <img class="card-img" src="{{ img.path }}">
            <div class="card-footer px-auto py-1">
                <input type="radio" value="{{ img.id }}" formControlName="pic_id" (click)="selectCreateImage(img.id)"></div>
            </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ createModalStatus }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="createNewClass()">Submit</button>
  </div>
</ng-template>

<ng-template #editModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Player Class</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editModalForm">

      <div class="form-group">
        <label>Class Name: </label>
        <input type="text" formControlName="name" class="form-control" value="{{ editModalClass.name }}">
      </div>

      <div class="form-group">
        <label>Description: </label>
        <textarea formControlName="description" class="form-control" rows="3" value="{{ editModalClass.description }}"></textarea>
      </div>

      <div class="form-group">
        <label>Required Level: </label>
        <input type="number" formControlName="level_requirement" class="form-control">
      </div>

      <label>Class Picture: </label>
      <div class="form-group row">
        <div class="col-2" *ngFor="let img of images">
          <div class="card bg-secondary text-white">
            <img class="card-img" src="{{ img.path }}">
            <div class="card-footer px-auto py-1">
                <input type="radio" value="{{ img.id }}" formControlName="pic_id" (click)="selectEditImage(img.id)"></div>
            </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ editModalStatus }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitEditClass()">Submit</button>
  </div>

</ng-template>

<ng-template #deleteModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Remove Player Class</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete the class {{ deleteModalClass?.name }}?</p>
    <div class="col-12 d-flex justify-content-around">
      <button type="button" class="btn btn-secondary" (click)="d('cancelled')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="submitDeleteClass()">Confirm</button>
    </div>
  </div>
  <div class="modal-footer justify-content-between" *ngIf="deleteModalStatus !== ''">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <p>{{ deleteModalStatus }}</p>
  </div>
</ng-template>
