<div class="d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 42em">

    <div class="d-flex mb-2 text-center">
        <div class="p-2" style="flex: 3">
            <h3 class="">Sign In</h3>
        </div>
    
        <div style="flex: 1"></div>
    
        <div class="p-2" style="flex: 3">
            <h3 class="">Sign Up</h3>
        </div>
    </div><!-- title row -->
  
    <div class="d-flex" id="login-container text-center">
  
        <div class="d-flex flex-column align-items-center" style="flex: 3">
  
            <form (ngSubmit)="login()" 
                  [formGroup]="form"
                  class="w-100">
  
              <div class="form-group">
                <label for="inputEmail" class="col-form-label">Username / Email</label>
                <div>
                  <input id="inputEmail" 
                         class="form-control"
                         type="text" 
                         formControlName="email"
                         [class.is-invalid]="fEmail.invalid && (fEmail.dirty || fEmail.touched)"> 
                </div> 
              </div>
  
              <div class="form-group">
                <label for="inputPassword" class="col-form-label">Password</label>
                <div class="">
                  <input class="form-control" 
                         id="inputPassword"
                         type="password"
                         formControlName="password"
                         [class.is-invalid]="fPassword.invalid && fPassword.touched">
                  <div class="invalid-feedback" *ngIf="form.invalid && (form.dirty || form.touched)">
                      Bad email and/or password
                  </div>
                </div>
              </div>
              
              <div class="form-group d-flex flex-column align-items-center">
                <button type="submit" class="btn btn-primary w-50">Login</button>
                <a (click)="openPasswordResetModal(passResetModal)" class="text-primary" id="forgot-password-link"><small>Forgot Password?</small></a>
              </div>
              
            </form>
  
        </div>
  
        <div class="d-flex flex-column text-center" style="flex: 1">
            <div class="w-50 h-100 border-right"></div>
            <p class="lead my-2">OR</p>
            <div class="w-50 h-100 border-right"></div>
        </div>
  
        <div class="d-flex flex-column" style="flex: 3">
            <div class="mx-auto my-auto">
                <a class="btn btn-primary" routerLink="/newteam">Create New Team</a>
            </div>
        </div>
    </div>
  
  </div>

<ng-template #passResetModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">
            <form [formGroup]="resetForm">
                <p class="form-text">
                    Enter your email address here. You'll receive an email with a link to reset your password.
                </p>
                <div class="form-group">
                    <label>Email:</label>
                    <input formControlName="email" class="form-control" type="email">
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer justify-content-between">
        <div class="loading-spinner" *ngIf="showSpinner"></div>
        <div>
        <p>{{ resetPassFormStatusMessage }}</p>
        </div>
        <button type="submit" class="btn btn-outline-dark" (click)="resetPassword()">Reset</button>
    </div>
</ng-template>
  