<div class="container">
  <div class="row pt-3">
    <div class="col-sm-4 border-right d-flex flex-column">
      <h3 class="p-3">New Team</h3>
      <p class="p-3 pt-1">First, give your team a unique name, and specify the default time (in minutes) that a mob interval should last.</p>
      <p class="p-3 pt-4">You'll also create the first user on your team, the team admin. This person will have access to the team dashboard to manage players, rewards, bounties, and more!</p>
    </div>

    <div class="col-sm-8">
      <div>
        <form [formGroup]="teamForm" (submit)="submitNewTeam()">
    
          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputTeamName">Team Name</label>
            <div class="col-sm-9">
              <input formControlName="team_name" 
                     type="text" 
                     id="inputTeamName" 
                     [class.is-invalid]="team_name.invalid && (team_name.dirty || team_name.touched)"
                     [class.is-valid]="team_name.valid && (team_name.dirty || team_name.touched)" 
                     class="form-control"/>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="inputDefIntervalLength">Default Interval Length</label>
            <div class="col-sm-9">
              <input type="number" 
                     formControlName="def_interval_length" 
                     id="inputDefIntervalLength" 
                     class="form-control"
                     [class.is-invalid]="def_interval_length.invalid && (def_interval_length.dirty || def_interval_length.touched)" />
              <small id="intervalHelpBlock" class="form-text text-muted">
                Minutes each interval should last by default. Most teams use less than 15 minutes for a good rotation of players.
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-3">
              <button type="submit" class="btn {{ teamFormSubmitBtn.class }} float-left" [disabled]="!teamForm.valid || teamFormSubmitBtn.disabled">{{ teamFormSubmitBtn.text }}</button>
            </div>

            <div class="col-9">
              <p class="{{ teamFormSubmitStatus.class }}">{{ teamFormSubmitStatus.text }}</p>
            </div>
          </div>
          
        </form>
      </div>
    
      <hr>

      <div>
        <form [formGroup]="adminUserForm" (submit)="submitTeamAdmin()">
          <fieldset [disabled]="!teamFormSubmitted">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="inputUserName">Username</label>
              <div class="col-sm-9">
                <input type="text" 
                       formControlName="username" 
                       class="form-control" 
                       id="inputUserName" 
                       [class.is-invalid]="username.invalid && (username.dirty || username.touched)"/>
                <small id="usernameHelpBlock" class="form-text text-muted">
                  Username must be at least 6 characters.
                </small>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="inputEmail">Email</label>
              <div class="col-sm-9">
                <input type="email" 
                       formControlName="email" 
                       class="form-control" 
                       id="inputEmail" 
                       [class.is-invalid]="email.invalid && (email.dirty || email.touched)"/>
              </div>
            </div>
            
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="inputPassword">Password</label>
              <div class="col-sm-9">
                <input type="password" 
                       formControlName="password" 
                       class="form-control" 
                       id="inputPassword" 
                       [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
                <small id="passwordHelpBlock" class="form-text text-muted">
                  Your password must be at least 8 characters long, contain letters and numbers, and must not contain spaces or emoji.
                </small>
              </div>
            </div>            

            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="inputPassword2">Re-enter Password</label>
              <div class="col-sm-9">
                <input type="password" 
                       formControlName="matching_password"
                       class="form-control" 
                       id="inputPassword2"
                       [class.is-invalid]="matching_password.invalid && (matching_password.dirty || matching_password.touched)" />
              </div>
            </div>

            <div class="form-group row">
              <div class="col-3">
                <button type="submit" class="btn {{ adminFormSubmitBtn.class }}" [disabled]="!adminUserForm.valid || adminFormSubmitBtn.disabled">{{ adminFormSubmitBtn.text }}</button>
              </div>
  
              <div class="col-9">
                <p class="{{ adminFormSubmitStatus.class }}">{{ adminFormSubmitStatus.text }}</p>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

    </div>
    
  </div>
</div>
  