<h3>Password Reset</h3>

<ng-container *ngIf="valid_slug; else not_valid">
  <div class="offset-4 col-4">
    <form [formGroup]="passwordForm">
      <div class="form-group">
        <label for="inputnewPassword">New Password</label>
        <input type="password" 
                formControlName="new_password" 
                class="form-control"
                [class.is-invalid]="fNewPassword.invalid && (fNewPassword.dirty || fNewPassword.touched)">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Your password must be 8-20 characters long, contain at least 1 capitol letter, numbers, and must not contain spaces, special characters, or emoji.
        </small>
      </div>
      <div class="form-group">
        <label for="inputMatchingPassword">Re-enter Password</label>
        <input type="password" 
                formControlName="matching_password" 
                class="form-control"
                [class.is-invalid]="fMatchingPassword.invalid && (fMatchingPassword.dirty || fMatchingPassword.touched)">
      </div>
      <div class="form-group d-flex justify-content-between">
        <div class="loading-spinner" *ngIf="showSpinner"></div>
        <div>
        <p>{{ passwordFormStatusMessage }}</p>
        </div>
        <button type="submit" class="btn btn-primary" (click)="submitPasswordForm()">Submit</button>
      </div>
    </form>
  </div>
</ng-container>

<ng-template #not_valid>
  <div class="d-flex justify-content-center">
    <div class="alert alert-danger" role="alert">
      Not a valid reset token, redirecting in {{ redirect_seconds }} seconds...
    </div>
  </div>
</ng-template>