<h4>
  Marketplace
  <button type="button" class="btn btn-sm btn-primary float-right" (click)="open(addMerchModal)">Add Merchandise</button>
</h4>

<div class="row mt-4">
  <div class="col-sm-12">
      <div class="card-columns">
        <div class="card" *ngFor="let item of merch">
          <img class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <div class="card-text">{{ item.description }}</div>
          </div>
          <div class="card-footer">
            Cost: {{ item.cost }} coin(s)
          </div>
        </div>
      </div>
  </div>
</div>

<ng-template #addMerchModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Merchandise</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="offset-sm-1 col-sm-10">
      <form [formGroup]="merchForm">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" formControlName="name">
        </div>

        <div class="form-group">
          <label>Cost</label>
          <input type="number" class="form-control" formControlName="cost">
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" class="form-control" formControlName="description">
        </div>

        <div class="form-group">
          <label>Image</label>
          <input type="text" class="form-control" formControlName="image">
        </div>
      </form>
    </div>
    
  </div>
  <div class="modal-footer justify-content-between">
    <div>
      <p></p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitNewMerch()">Submit</button>
  </div>
</ng-template>