<div class="row">
  <div class="col-12">
    <h3 class="float-left">Images</h3>
    <button type="button" class="btn btn-primary float-right" (click)="open(newImageModal)">Add Image</button>
  </div>
  <div class="col-12">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <ng-container *ngFor="let img of images; let i = index">
        <div class="card">
          <img class="card-img-top" src="{{ img.path }}">
          <div class="card-body p-0"></div>
          <div class="card-footer p-2">
            <button type="button" class="btn btn-danger w-100" *ngIf="img.team_id !== null">Delete</button>
            <button type="button" class="btn btn-secondary w-100" *ngIf="img.team_id === null" disabled>Public Image</button>
          </div>
        </div>
        <!-- Create rows every 5 cards -->
        <div class="w-100 d-block p-2" *ngIf="(i+1) % 5 === 0"></div>
      </ng-container>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col">
    <h3 class="float-left">Sounds</h3>
    <button type="button" class="btn btn-primary float-right" (click)="open(newSoundModal)">Add Sound</button>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th>Sound</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sound of sounds">
          <td>
            {{ sound.path.split('/').pop() }}
          </td>
          <td>
            <audio controls>
              <source src="{{ sound.path }}">
            </audio>
          </td>
          <td>
              <button type="button" class="btn btn-danger w-100" *ngIf="sound.team_id !== null">Delete</button>
              <button type="button" class="btn btn-secondary w-100" *ngIf="sound.team_id === null" disabled>Public Sound</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #newImageModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Image</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="imageForm">
      <div class="form-group">
        <input #fileInput 
                type="file"
                class="form-control-file" 
                id="fileInput" 
                formControlName="file" 
                (change)="handleImageFileInput($event)">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Images must be png or jpg files - preferably sqaure.
        </small>
      </div>
    </form>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ formStatusMessage }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitImageForm()">Submit</button>
  </div>
</ng-template>

<ng-template #newSoundModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New Sound</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="imageForm">
      <div class="form-group">
        <input #fileInput 
                type="file"
                class="form-control-file" 
                id="fileInput" 
                formControlName="file" 
                (change)="handleSoundFileInput($event)">
        <small id="passwordHelpBlock" class="form-text text-muted">
          Audio files must be in MP3 form.
        </small>
      </div>
    </form>
  </div>

  <div class="modal-footer justify-content-between">
    <div class="loading-spinner" *ngIf="showSpinner"></div>
    <div>
      <p>{{ formStatusMessage }}</p>
    </div>
    <button type="button" class="btn btn-outline-dark" (click)="submitSoundForm()">Submit</button>
  </div>
</ng-template>
