<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <span  [innerHTML]="'home' | feather"></span>
          Dashboard
      </a>
    </li>
  </ul>
  <ng-container *ngFor="let category of dashboard_link_categories">
    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      {{category}}
    </h6>
    <ul class="nav flex-column">
      <ng-container *ngFor="let item of dashboard_links">
        <li *ngIf="item.category === category" class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboard', {outlets: { dash: item.path }}]" routerLinkActive="active">
              <span  [innerHTML]="item.icon | feather"></span>
              {{item.text}}
          </a>
        </li>
      </ng-container>
    </ul>
  </ng-container>
</div>
