<h1>Team Bank</h1>

<p>Team has a GDP of {{ teamGdp }} coins</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Earned</th>
            <th>Available</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of teamPlayers">
            <td>{{ p.username }} ({{ p.first_name }})</td>
            <td>{{ p.coins.length }}</td>
            <td>{{ p.available_coins }}</td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-success" (click)="grantCoin(p.id)">Add Coin</button>
                    <button type="button" class="btn btn-sm btn-warning" (click)="burnCoin(p.id)">Redeem Coin</button>
                    <button type="button" class="btn btn-secondary" disabled>View History</button>
                </div>
                
            </td>
        </tr>
    </tbody>
</table>