<div class="row mb-2">
  <div class="col-12 px-4">
    <h3>Open Bounties</h3>
  </div>
</div>
<hr>

<div class="card-deck">
  <div class="col-3" *ngFor="let b of ( bounties | sortBy : 'xp_reward' )">
    <div class="card mb-4 shadow rounded" *ngIf="!b.completed">

      <div class="card-body">
        <div class="card-title">
          <h5 class="mb-0">{{ b.name }}</h5>
          <small class="text-muted">
            <a href="{{ b.project_url }}" class="text-muted">{{ b.project }}</a> / 
            <a href="{{ b.issue_url }}" class="text-muted">#{{ b.issue_iid }}</a>
          </small>
        </div>
        <hr class="mt-2">
        {{ b.description }}
      </div>

      <div class="card-footer bg-info p-0">
        <div class="text-center pt-3">
          <ul class="list-unstyled list-inline text-small">

            <li class="list-inline-item pr-2 text-white">
              <span [innerHTML]="'clock' | feather"></span>
              {{ b.created | date:'MMM dd' }}
            </li>
            
            <li class="list-inline-item text-white">
              <span [innerHTML]="'package' | feather"></span>
              {{ b.xp_reward }}XP
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
