<div class="card rounded mb-2 player-card" [class.player-card-queue]="cardStyle === 'queue'"
                                           [class.player-card-compact]="cardStyle === 'compact'"
                                           [class.player-card-default]="cardStyle === 'default'"
                                           [class.at-keyboard]="atKeyboard">
  <ng-container *ngIf="cardStyle === 'default'">
    <div class="card-body pt-0 pr-0">
      <div class="row">
        <div class="col-sm-2 pt-3">
          <div class="crop">
            <img class="img-fluid " src="{{ classPicUrl }}">
          </div>
        </div>
        <div class="col-sm-10">

          <div class="row">
            <div class="col-sm-6">
              <h5 class="card-title pt-3">
                <a routerLink="/profile">{{ player.username }}</a>
              </h5>
            </div>

            <div class="col-sm-6 d-flex align-items-start justify-content-end">
              <div class="card-badge badge-warning">Coins: {{ player.available_coins }}</div>
              <div class="card-badge badge-secondary">Level: {{ player.level }}</div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-6">
              <h6 class="text-muted">{{ player.class_name }}</h6>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="card-footer p-1">
      <ngb-progressbar type="info" [value]="progBarPercent">{{ progBarPercent > 10 ? ('XP: '+player.xp+'/'+player.next_level_xp): '' }}</ngb-progressbar>
    </div>
  </ng-container>
  
  <ng-container *ngIf="cardStyle === 'queue'">
      <div class="card-body p-0">
        <div class="row">
          <div class="col-sm-4">
            <div class="crop">
              <img class="img-fluid" src="{{ classPicUrl }}">
            </div>
          </div>

          <div class="col-sm-8 pl-0">
            <div class="row justify-content-between mx-0">
              <h5>{{ player.username }}</h5>
              <button type="button" class="btn btn-sm btn-danger btn-leave-mob" (click)="signalPlayerDrop(player.id)">
                  <span aria-hidden="true">&times;</span>
              </button>
            </div>
            
            <p class="text-muted">Level {{ player.level }} {{ player.class_name }}</p>
          </div>
        </div>
      </div>

      <div class="card-footer p-0">
        <ngb-progressbar type="info" [value]="progBarPercent">
          {{ progBarPercent > 15 ? ('XP: '+player.xp+'/'+player.next_level_xp): '' }}
        </ngb-progressbar>
      </div>

  </ng-container>
  
</div>