.player-card {
    border: 3px solid darkblue;
}

.player-card.at-keyboard {
    border: 3px solid gold;
}

/* .player-card:not(.at-keybard) {
    background: rgba(0,0,0,.2);
    width:100%;
    height:100%;
    position: relative;
    top:0;
    left:0;
    z-index:999;
} */

.player-card-default {
    min-width: 600px;
    max-width: 900px;
}

.player-card-queue {
    min-width: 300px;
    max-width: 300px;
    margin-top: .5em;
}

.btn-leave-mob {
    border-radius: 0 0 0 .2em;
}

:host /deep/ .player-card-queue > .card-footer > ngb-progressbar > .progress {
    border-radius: 0;
}

.card-badge {
    padding: .25em .4em;
    text-align: center;
    font-weight: 500;
}
.card-badge:first-child {
    border-radius: 0;
    border-bottom-left-radius: 8px;
}