:host /deep/ ngb-tabset {
    display: flex;
}

:host /deep/ [role='tablist'] {
    flex: 1;
}

:host /deep/ .tab-content {
    flex: 4;
    padding: 1em;
    /* border: 1px solid gray; */
}

#btnEdit {
    color: #000;
}

.loading-spinner {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}