<div class="container-fluid">

  <div class="row">
    <div class="col-sm-2">
      <img class="img-fluid rounded" src="{{ classPicUrl }}">
    </div>
    <div class="col-sm-10">
      <h3>{{ currentPlayer.username }} <small class="text-sm text-muted" *ngIf="currentPlayer.team_admin">(Team Admin)</small></h3>
      <p class="text-muted">Level {{ currentPlayer.level }} {{ playerClass.name }}</p>
      <p class="text-muted">Player Since {{ currentPlayer.confirmed_on | date }}</p>
    </div>
  </div>
  <hr>

  <ngb-tabset type="pills" [orientation]="'vertical'">
    <ngb-tab title="Profile">
      <ng-template ngbTabContent>
        
        <div class="row pb-1 mb-2">
          <div class="col-sm-6 d-flex align-items-end">
            <h3 class="m-0">Player Information</h3>
          </div>
          <div class="col-sm-6 d-flex flex-row-reverse align-items-end">
            <button id="btnEdit" class="btn btn-sm btn-outline-secondary" type="button" (click)="open(editModal)">
              <span [innerHTML]="'edit' | feather"></span>
            </button>
            <button id="btnChangeClass" class="btn btn-sm btn-outline-primary mr-2" type="button">
              Change Class
            </button>
          </div>
        </div>

        <div class="row mt-2">
          <div class="col">
            <table class="table table-sm table-borderless" id="profile-table">
              <tr>
                <th>Username</th>
                <td>{{ currentPlayer.username }}</td>
              </tr>
              <tr>
                <th>Full Name</th>
                <td>{{ currentPlayer.first_name }} {{ currentPlayer.last_name }}</td>
              </tr>
              <tr>
                <th>Email</th>
                <td>{{ currentPlayer.email }}</td>
              </tr>
            </table>
          </div>
        </div>

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Notifications">
      <ng-template ngbTabContent>
      

      </ng-template>
    </ngb-tab>

    <ngb-tab title="Settings">
      <ng-template ngbTabContent>
        
        <div class="row pb-1 mb-2">
          <div class="col-sm-6 d-flex align-items-end">
            <h3 class="m-0">Player Actions</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-3">
              <button type="button" class="btn btn-info" (click)="open(passwordModal)">Reset Password</button>
          </div>
        </div>

      </ng-template>
    </ngb-tab>
  </ngb-tabset>

  <ng-template #editModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Profile</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="editProfileForm">
        <div class="form-row">
          <div class="form-group col-sm-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" formControlName="first_name">
          </div>
          <div class="form-group col-sm-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" formControlName="last_name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <input type="text"  formControlName="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="inputEmail">Email</label>
          <input type="email" formControlName="email" class="form-control">
        </div>
      </form>
    </div>
    <div class="modal-footer justify-content-between">
      <div class="loading-spinner" *ngIf="showSpinner"></div>
      <div>
        <p>{{ editProfileFormStatusMessage }}</p>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="submitEditForm()">Save</button>
    </div>
  </ng-template>

  <ng-template #passwordModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Change Password</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form [formGroup]="passwordForm">
        <div class="form-group">
          <label for="inputOldPassword">Old Password</label>
          <input type="password" 
                 formControlName="old_password" 
                 class="form-control"
                 [class.is-invalid]="fOldPassword.invalid && (fOldPassword.dirty || fOldPassword.touched)">
        </div>
        <div class="form-group">
          <label for="inputnewPassword">New Password</label>
          <input type="password" 
                 formControlName="new_password" 
                 class="form-control"
                 [class.is-invalid]="fNewPassword.invalid && (fNewPassword.dirty || fNewPassword.touched)">
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain at least 1 capitol letter, numbers, and must not contain spaces, special characters, or emoji.
          </small>
        </div>
        <div class="form-group">
          <label for="inputMatchingPassword">Re-enter Password</label>
          <input type="password" 
                 formControlName="matching_password" 
                 class="form-control"
                 [class.is-invalid]="fMatchingPassword.invalid && (fMatchingPassword.dirty || fMatchingPassword.touched)">
        </div>
      </form>
    </div>

    <div class="modal-footer justify-content-between">
      <div class="loading-spinner" *ngIf="showSpinner"></div>
      <div>
        <p>{{ passwordFormStatusMessage }}</p>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="submitPasswordForm()">Save</button>
    </div>
  </ng-template>
</div>