<div id="mob-container">
  
  <div id="timer-container" [style.background]="timer_color">

    <div class="row h-75">
      <h1 class="display-1 mx-auto my-auto" id="mob-timer">{{ display_minutes }}:{{ display_seconds }}</h1>
    </div>

    <div class="row h-25 mx-0 px-2 justify-content-between">

      <div style="flex: 1"></div>

      <div class="my-auto d-flex justify-content-center" id="timer-control-btns" style="flex: 1">
        <button type="button" class="btn btn-light" (click)="startMobTimer()">Start Timer</button>
        <button type="button" class="btn btn-light mx-1" (click)="stopMobTimer()">End Timer</button>
        <button type="button" class="btn btn-dark" (click)="disbandMob()">Disband Mob</button>
      </div>

      <div class="my-auto d-flex justify-content-end" style="flex: 1">
        <!-- <div class="btn-group" ngbDropdown [placement]="'bottom-right'">
          <button type="button" class="btn btn-outline-dark" ngbDropdownToggle>Sound: {{ activeMob?.audio_src.split('/').pop() }}</button>
          <div ngbDropdownMenu>
            <button *ngFor="let sound of alert_sounds" class="dropdown-item">{{ sound.shortname }}</button>
          </div>
        </div> -->
        
      </div>
    </div>
    <audio src="{{ activeMob?.audio_src }}" class="invisible" id="alert-player"></audio>
  </div>

  <div class="col-sm-12 p-0">
    <ul class="nav nav-pills nav-justified" id="mob-tab-link-container" role="tablist">
      <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link mob-tab-link" [class.active]="tab.id === activeTabId" href (click)="switchTab(tab.id)">{{ tab.title }}</a>
      </li>
    </ul>
  </div>

  <ng-container *ngIf="activeTabId !== createNewMobTabId else newMobTabContent">

    <div class="bg-dark col-sm-5 p-0 pt-3" id="player-queue-container">
      <div class="d-flex flex-column align-items-center"
           [sortablejs]="activeMob?.players"
           [sortablejsOptions]="sortableQueueOptions">
        <gamma-player-card *ngFor="let player of (activeMob?.players | sortBy : 'queue_position'); let i = index"
                           [queuePosition]="i"
                           [player]="player"
                           [cardStyle]="'queue'"
                           (dropPlayerSignal)="dropPlayerFromMob($event)"></gamma-player-card>
        <div class="new-player-queue-card bg-light text-center" [ngbPopover]="popContent" popoverTitle="Choose A Player" placement="right">
          <h2>
            <span [innerHTML]=" 'plus-square' | feather "></span>
          </h2>
          <p>Add Player</p>
        </div>

        <ng-template #popContent>
          <ul class="list-group">
            <!-- <ng-container *ngFor="let player of currentTeam.players"> -->
              <li class="list-group-item add-player-list-item" *ngFor="let player of availablePlayers" (click)="addPlayerToMob(player.id)">
                <p>{{ player.username }}</p>
              </li>
            <!-- </ng-container> -->
          </ul>
        </ng-template>
      </div>
      
    </div>

    <div class="col-sm-7 p-0" id="mob-information-container">

      <div class="bg-light d-flex justify-content-between p-2 text-center align-items-center" id="mob-controls-container">

        <div>
          <h4>
            XP Multiplier:
          </h4>
          <h4>
            <span class="badge badge-success">1x</span>
          </h4>
        </div>

        <div>
          <h4>
            Interval Length:
          </h4>
          <h4>
            <span class="badge badge-info">{{ activeMob?.interval_length }} minutes</span>
          </h4>
        </div>

        <div>
          <button type="button" class="btn btn-primary" (click)="openEditModal(editModal)">Edit Mob Details</button>
        </div>

        <ng-template #editModal let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Edit Mob</h4>
              <button type="button" class="close" (click)="c()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <div class="offset-sm-1 col-sm-10">

                <form [formGroup]="editMobForm" (submit)="submitMobEditForm()">

                  <div class="form-group row">
                    <label for="editTopic" class="col-sm-2 col-form-label">Topic</label>
                    <div class="col-sm-9">
                      <input type="text"
                             class="form-control"
                             id="editTopic"
                             formControlName="topic"
                             value="{{ activeMob?.topic }}">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="editLocation" class="col-sm-2 col-form-label">Location</label>
                    <div class="col-sm-9">
                      <input type="text"
                              class="form-control"
                              id="editLocation"
                              formControlName="location"
                              value="{{ activeMob?.location }}">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="editInterval" class="col-sm-2 col-form-label">Interval</label>
                    <div class="col-sm-9">
                      <input type="number"
                              class="form-control"
                              id="editInterval"
                              formControlName="interval"
                              value="{{ activeMob?.interval_length }}">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label for="editSound" class="col-sm-2 col-form-label">Alert</label>
                    <div class="col-sm-9">
                        <select id="editSound"
                                class="form-control"
                                formControlName="sound">
                          <option *ngFor="let opt of alert_sounds">{{ opt.shortname }}</option>
                        </select>
                    </div>
                  </div>

                  <div class="form-group row justify-content-end">
                    <div class="text-small text-success" *ngIf="editMobSuccess">Success!</div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </ng-template>

      </div>

      <div id="mob-activity-center">
        <div class="offset-sm-1 col-sm-10">
          <div class="list-group mt-4">
            <div class="list-group-item flex-column align-items-start" *ngFor="let msg of messages">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-0">{{ msg.description }}</p>
                <small>{{ msg.created | amFromUtc | amTimeAgo}}</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </ng-container>

  <ng-template #newMobTabContent>
    <div class="col-sm-12">
      <div class="row pt-2">
        <h3 class="mx-auto">Create A New Mob</h3>
      </div>
    </div>
    
    <div class="offset-sm-2 col-sm-8">
      <form [formGroup]="newMobForm" (submit)="submitNewMobForm()">

        <div class="form-group row">
          <label for="inputMobTopic" class="col-sm-2 col-form-label">Topic</label>
          <div class="col-sm-9">
            <input type="text" 
                   class="form-control"
                   id="inputMobTopic"
                   placeholder="Topic"
                   formControlName="topic"
                   [class.is-valid]="fTopic.valid"
                   [class.is-invalid]="fTopic.invalid && (fTopic.dirty || fTopic.touched)">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMobLocation" class="col-sm-2 col-form-label">Location</label>
          <div class="col-sm-9">
            <input type="text" 
                   class="form-control"
                   id="inputMobLocation"
                   placeholder="Location"
                   formControlName="location"
                   [class.is-valid]="fLocation.valid"
                   [class.is-invalid]="fLocation.invalid && (fLocation.dirty || fLocation.touched)">
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMobInterval" class="col-sm-2 col-form-label">Interval</label>
          <div class="col-sm-3">
            <input type="number"
                   class="form-control"
                   id="inputMobLocation"
                   value="{{ currentTeam.default_interval_length }}"
                   formControlName="interval"
                   [class.is-valid]="fInterval.valid"
                   [class.is-invalid]="fInterval.invalid && (fInterval.dirty || fInterval.touched)">
          </div>
        </div>

        <fieldset class="form-group">
          <div class="row">
            <legend class="col-form-label col-sm-2 pt-0">Players</legend>
            <div class="col-sm-10">
              <div class="form-check" *ngFor="let player of currentTeam.players">
                  <input class="form-check-input" type="checkbox" 
                                                  [value]="player.id"
                                                  [disabled]="player.in_mob"
                                                  (change)="playerChange(player.id, $event.target.checked)">
                  <label class="form-check-label">
                    {{ player.username}} {{ player.in_mob ? '(In Mob Already)' : '' }}
                  </label>
              </div>
            </div>
          </div>
        </fieldset>

        <div class="col-md-4 offset-md-4">
          <button type="submit" class="btn btn-primary w-100">Start The Mob</button>
        </div>
      </form>
    </div>

  </ng-template>
  

</div>