#mob-container {
    margin-top: -27px; /* compensate for the 'role=['main']' rule  */
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
}

#timer-container {
    /* background: #00ff00; */
    max-height: 200px;
    min-height: 200px;
    width: 100%;
}

#player-queue-container {
    height: 100vh;
    /* width: 40%; */
    /* border-top: 1px solid lightgrey; */
}

gamma-player-card:first {
    margin-top: .5em;
}

#add-player-card {
    border-left: 1px solid lightgray;
}

#mob-information-container {
    height: 100%;
    /* width: 60%; */
}

#mob-controls-container {
    /* height: 125px; */
}

#mob-tab-link-container {
    border-bottom: 1px solid lightgray;
}

.mob-tab-link {
    border-radius: 0;
}

.mob-tab-link.active {
    background-color: lightblue;
    color: #fff;
}

.new-player-queue-card {
    min-width: 300px;
    max-width: 300px;
    margin-top: .5em;
    background: lightpink;
}

.add-player-list-item:hover {
    cursor: pointer;
    color: #fff;
    background: #007bff;
    border-color: #007bff;
}