<h1>{{ team.name }}</h1>

<div class="card-deck">
  <div class="card">
    <div class="card-header">Total Mob Count</div>
    <div class="card-body text-center">
      <h4>{{ mobs?.length }}</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Mobs In The Last 30 Days</div>
    <div class="card-body text-center">
      <h4>{{ mobs?.length > 0 ? mobCountInLastThirtyDays : '' }}</h4>
    </div>
  </div>

  <div class="card">
    <div class="card-header">Mobs In The Last Week</div>
    <div class="card-body text-center">
      <h4>{{ mobs?.length > 0 ? mobCountInLastWeek : ''}}</h4>
    </div>
  </div>
</div>