<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <gamma-dashboard-sidebar></gamma-dashboard-sidebar>
</nav>

<div class="col-md-9 ml-sm-auto col-lg-10 p-4">
  <router-outlet name="dash"></router-outlet>
</div>
