<h4>
  Marketplace
</h4>

<div class="row mt-4">
  <div class="col-sm-12">
      <div class="card-deck">
        <div class="card" *ngFor="let item of merch">
          <img class="card-img-top" src="{{ item.picture_url }}">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <div class="card-text">{{ item.description }}</div>
          </div>
          <div class="card-footer d-flex align-items-center justify-content-between">
            <p class="my-0">Cost: {{ item.cost }} coin(s)</p>
            <small class="text-muted" *ngIf="alreadyInInventory(item.id) > 0">(You have {{ alreadyInInventory(item.id) }} of these already)</small>
            <button type="button" 
                    class="btn btn-outline-primary" 
                    [class.btn-outline-primary]="currentPlayer.available_coins >= item.cost"
                    [class.btn-outline-secondary]="currentPlayer.available_coins < item.cost"
                    (click)="buyItem(item.id)"
                    [disabled]="currentPlayer.available_coins < item.cost">Buy</button>
          </div>
        </div>
      </div>
  </div>
</div>