<h3>
  {{ currentTeam.name }}
  <small class="text-muted text-sm float-right">
    Established: {{ currentTeam.created | date }}
  </small>
</h3>
<hr>
<h4>
  Players ({{ teamPlayers?.length }})
</h4>
<div class="btn-group">
  <button type="button" class="btn btn-outline-info" (click)="switchCardSize('default')">Big</button>
  <button type="button" class="btn btn-outline-info" (click)="switchCardSize('queue')">Queue</button>
</div>

<div class="card-deck">
  <gamma-player-card *ngFor="let player of teamPlayers" 
                     [player]="player"
                     [cardStyle]="cardStyle">
  </gamma-player-card>
</div>