<div class="cover-container d-flex w-50 h-100 p-3 mt-4 mx-auto flex-column text-center">
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Join The Mob.</h1>
        <p class="lead">It's a role-playing game! It's a team-based developement tool!</p>
        <p class="lead">It's the... Great Agile Mob Mentality Adventure!</p>
        <p class="lead">
            <a class="btn btn-lg btn-secondary">Coming Soon</a>
        </p>

    </main>

</div>
