<h4>
  Gifts
  <button type="button" class="btn btn-sm btn-primary float-right" (click)="openGiftModal(giftModal)">Send New Gift</button>
</h4>

<table class="table">
  <thead>
    <th>Name</th>
    <th>XP Value</th>
    <th>Recipients</th>
  </thead>
  <tbody>
    <tr *ngFor="let g of gifts">
      <td>{{ g.name }}</td>
      <td>{{ g.xp_value }}</td>
      <td>{{ g.players.length }}</td>
    </tr>
  </tbody>
</table>

<ng-template #giftModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Send New Gift</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('dismiss')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     
      <div class="offset-sm-1 col-sm-10">
        <form [formGroup]="giftForm">
          <div class="form-group">
            <label for="inputName">Name:</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <div class="form-group">
            <label for="inputDescription">Description</label>
            <textarea class="form-control" formControlName="description" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="inputXpValue">XP Value:</label>
            <input type="number" class="form-control" formControlName="xp_value">
          </div>
          <fieldset class="form-group">
            <div class="row">
              <legend class="col-form-label col-sm-2 pt-0">Players</legend>
              <div class="col-sm-10">
                <div class="form-check" *ngFor="let player of currentTeam.players">
                  <input class="form-check-input" type="checkbox"
                                                  [value]="player.id"
                                                  (change)="playerChange(player.id, $event.target.checked)">
                  <label class="form-check-label">
                    {{ player.username }}
                  </label>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      
    </div>
    <div class="modal-footer justify-content-between">
      <div class="loading-spinner" *ngIf="showSpinner"></div>
      <div>
        <p>{{ giftFormStatusMessage }}</p>
      </div>
      <button type="button" class="btn btn-outline-dark" (click)="submitGiftForm()">Submit</button>
    </div>
  </ng-template>